@use 'variables' as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $blueColor;
}
// custon buttons css
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColor;
}
p {
  color: #767676;
}
.section {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.section-heading {
  padding-bottom: 3rem;
  text-align: center;
  .section-small-heading {
    color: $blueColor;
    line-height: 0;
    position: relative;
    display: inline-block;
    margin: auto;
  }
  .section-main-heading {
    color: $headingColor;
  }
}
.home-button {
  background-color: $blueColor;
  display: inline-block !important;
  width: 30%;
  position: relative;
  color: #fff;
  border: 2px solid $blueColor;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2rem 0rem;
  @media (max-width: 991px) {
    margin: auto;
    margin: 2rem auto;
    width: 100%;
  }

  &:hover {
    color: $blueColor;
  }
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
    left: 0;
  }
}
.about-heading {
  text-align: left;
  padding: 0;
}
