@use 'variables' as *;
.custom-nav {
  height: 10vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  @media (max-width: 991.98px) {
    height: auto;
    position: relative;
  }
}
.bg-scroll {
  position: fixed;
  background-color: #fff;
}
.logo img {
  height: 5vh;
}
.navbar.container {
  padding: 0;
}

.nav-link {
  color: $headingColor !important;
  &:hover {
    color: $yellowColor !important;
  }
}
.nav-link.active {
  color: $blueColor !important;
}
.bg-light {
  background-color: $lightBgColor !important;
}
.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: 0;
}
