$lightBgColor: #f1f1f1;
// $headingColor: #23120b;
$headingColor: rgb(16, 16, 16);
$headingColor: #0a1045;
$buttonColor: rgba(35, 18, 11, 0.5);
// $blueColor: #21209c;
$blueColor: #00c2d1;
// $blueColor: royalblue;
$yellowColor: #00c2d1;
