* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #21209c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #23120b;
}

p {
  color: #767676;
}

.section {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.section-heading {
  padding-bottom: 3rem;
  text-align: center;
}
.section-heading .section-small-heading {
  color: #21209c;
  line-height: 0;
  position: relative;
  display: inline-block;
  margin: auto;
}
.section-heading .section-main-heading {
  color: #23120b;
}

.home-button {
  background-color: #21209c;
  display: inline-block !important;
  width: 30%;
  position: relative;
  color: #fff;
  border: 2px solid #21209c;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2rem 0rem;
}
@media (max-width: 991px) {
  .home-button {
    margin: auto;
    margin: 2rem auto;
    width: 100%;
  }
}
.home-button:hover {
  color: #21209c;
}
.home-button::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
.home-button:hover::before {
  opacity: 1;
  left: 0;
}

.about-heading {
  text-align: left;
  padding: 0;
}

.custom-nav {
  height: 10vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
@media (max-width: 991.98px) {
  .custom-nav {
    height: auto;
    position: relative;
  }
}

.bg-scroll {
  position: fixed;
  background-color: #fff;
}

.logo img {
  height: 5vh;
}

.navbar.container {
  padding: 0;
}

.nav-link {
  color: #23120b !important;
}
.nav-link:hover {
  color: #fdb827 !important;
}

.bg-light {
  background-color: #f1f1f1 !important;
}

.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: 0;
}

#home {
  padding: 10rem 0rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url(../../assets/image/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#home::after {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  background-color: rgba(33, 32, 156, 0.2);
  border-radius: 20px;
  bottom: 100px;
  right: -80px;
  transform: rotate(45deg) skewY(40deg);
  z-index: -1;
}
@media (max-width: 991px) {
  #home {
    padding: 5rem 0rem;
  }
}
#home .home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 991px) {
  #home .home-content {
    text-align: center;
    margin-bottom: 2rem;
  }
}
#home .home-subheading {
  color: #21209c;
  line-height: 0;
}
#home .home-desc {
  max-width: 540px;
  padding: 1rem 0rem;
}
@media (max-width: 991px) {
  #home .home-desc {
    margin: auto;
  }
}
#home .home-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-image img {
  width: 100%;
}
@media (max-width: 991px) {
  #home .home-image {
    padding: 2rem 0rem;
  }
  #home .home-image img {
    width: 100%;
  }
}

#about {
  background-color: #f1f1f1;
}

.service-wrapper {
  text-align: center;
  padding: 20px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 50px 0px rgba(33, 32, 156, 0.08);
  position: relative;
  margin-bottom: 3rem;
}
.service-wrapper:hover .service-icon {
  background-color: #fdb827;
}
.service-wrapper:hover .service-heading {
  color: #fdb827;
}
.service-wrapper:hover .service-button {
  color: #fdb827;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
  background-color: #21209c;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: all 0.5s ease;
}

.service-heading {
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  font-weight: 600;
}

.service-desc {
  font-size: 14px;
}

.service-button {
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 70px 0px rgba(33, 32, 156, 0.18);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(35, 18, 11, 0.5);
  text-transform: lowercase;
  display: block;
  width: 150px;
}

#team {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.team-member-wrapper {
  box-shadow: 0px 2px 50px 0px rgba(33, 32, 156, 0.08);
  padding: 4rem 2rem 0rem 2rem;
  position: relative;
}
.team-member-wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 35%;
  top: 0;
  left: 0;
  background: url("https://images.pexels.com/photos/7077971/pexels-photo-7077971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}
.team-member-wrapper .team-image {
  box-shadow: 0px 2px 50px 0px rgba(33, 32, 156, 0.08);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.team-member-wrapper .team-image:hover .team-overlay {
  left: 0;
  opacity: 1;
}
.team-member-wrapper .team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(35, 18, 11, 0.8);
  left: -100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.team-member-wrapper .team-overlay p {
  color: #fff;
}
.team-member-wrapper .team-overlay ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.team-member-wrapper .team-overlay ul li {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member-wrapper .team-overlay ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(35, 18, 11, 0.9);
  color: #fff;
}
.team-member-wrapper .team-desc {
  text-align: center;
  padding-top: 1rem;
}

#cta {
  background-color: #23120b;
  text-align: center;
  padding: 5rem 0rem;
}
#cta h3 {
  color: #fff;
}
#cta p {
  max-width: 540px;
  margin: auto;
  color: rgba(255, 255, 255, 0.6);
}
#cta .cta-btn {
  display: block;
  background-color: #fff;
  display: inline-block !important;
  padding: 0.3rem 3rem;
  position: relative;
  color: #21209c;
  border: 2px solid #fff;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2rem 0rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  #cta .cta-btn {
    margin: auto;
    margin: 2rem auto;
  }
}
#cta .cta-btn:hover {
  color: #fff;
}
#cta .cta-btn::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #21209c;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
#cta .cta-btn:hover::before {
  opacity: 1;
  left: 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem auto 0rem;
}
.subscribe-form input[type=text] {
  margin-right: -70px;
  padding: 1rem 5rem 1rem 1rem;
  max-width: 320px;
}
.subscribe-form input[type=submit] {
  background-color: #21209c;
  color: #fff;
  width: 150px;
}
.subscribe-form input {
  padding: 1rem;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 2rem;
}

.card {
  border: 0;
  padding: 1rem;
  margin-top: 1rem;
}
.card img {
  border-radius: 0;
}

.card-body {
  padding: 0;
}

.blog-info {
  display: flex;
}
.blog-info span {
  display: block;
  margin-right: 1rem;
}

.blog-link {
  display: block;
  margin-top: 1rem;
  width: 100px;
  color: #21209c;
}
.blog-link:hover {
  color: #fdb827;
}

#testimonial {
  background-color: #f1f1f1;
  padding-top: 8rem;
}

.testimonial-wrapper {
  background-color: #fff;
  position: relative;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0px 20px 50px 0px rgba(33, 32, 156, 0.08);
}
@media (max-width: 991.98px) {
  .testimonial-wrapper {
    margin-top: 5rem;
  }
}

.testimonial-author-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgba(33, 32, 156, 0.08);
}
.testimonial-author-img img {
  width: 100%;
}

.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 1rem;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #21209c;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  position: relative;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
  position: relative;
}

.portfolio .portfolio-item .portfolio-img img {
  width: 100%;
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  z-index: 3;
  transition: all 0.5s ease;
  background: rgba(35, 18, 11, 0.8);
  padding: 10px 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  display: inline-block;
  font-size: 20px;
  color: #21209c;
  transition: 0.3s;
  background-color: #fff;
  margin: 0.5rem;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #fdb827;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #21209c;
}
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: none;
  border: 1px solid #fdb827;
}

.contact-icon i {
  color: #21209c;
}

.footer-widget {
  position: relative;
  background-color: #23120b;
  padding: 5rem 0rem;
}
@media (max-width: 767.98px) {
  .footer-widget {
    text-align: center;
  }
}
.footer-widget h3 {
  color: #fff;
  font-size: calc(1rem + 0.125vw);
  margin: 1rem 0rem 0.5rem 0rem;
}
.footer-widget p,
.footer-widget a {
  color: rgba(255, 255, 255, 0.7);
}

.widget-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.widget-area {
  width: 20%;
}
@media (max-width: 991.98px) {
  .widget-area {
    width: 40%;
  }
}
@media (max-width: 767.98px) {
  .widget-area {
    width: 80%;
  }
}

.widget-links ul li a {
  transition: all 0.5s ease;
  display: block;
  width: 100px;
}
@media (max-width: 767.98px) {
  .widget-links ul li a {
    margin: auto;
  }
}
.widget-links ul li a:hover {
  color: #fdb827;
  transform: translateX(10px);
  font-style: italic;
}

.footer-soc-link {
  display: flex;
}
@media (max-width: 767.98px) {
  .footer-soc-link {
    justify-content: center;
  }
}
.footer-soc-link li {
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.footer-soc-link li:hover {
  background-color: #fdb827;
}
.footer-soc-link li:hover a {
  color: #fff;
}
.footer-soc-link li a {
  display: block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  transition: all 0.5s ease;
  text-align: center;
}

.footer-widget::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  background-color: #23120b;
  font-weight: 400;
  font-size: 14px;
}

footer a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

footer a:hover {
  color: #fdb827;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
