* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #21209c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #23120b;
}

p {
  color: #767676;
}

.section {
  padding-bottom: 10rem;
}

.section-heading {
  padding-bottom: 5rem;
  text-align: center;
}
.section-heading .section-small-heading {
  color: #21209c;
  line-height: 0;
  position: relative;
  display: inline-block;
  margin: auto;
}
.section-heading .section-main-heading {
  color: #23120b;
}

.custom-nav {
  height: 10vh;
}

.logo img {
  height: 5vh;
}

.navbar.container {
  padding: 0;
}

.nav-link {
  color: #23120b !important;
}
.nav-link:hover {
  color: #fdb827 !important;
}

.bg-light {
  background-color: #f1f1f1 !important;
}

.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: 0;
}

#home {
  padding: 10rem 0rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#home::after {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  background-color: rgba(33, 32, 156, 0.2);
  border-radius: 20px;
  bottom: 100px;
  right: -80px;
  transform: rotate(45deg) skewY(40deg);
  z-index: -1;
}
@media (max-width: 991px) {
  #home {
    padding: 5rem 0rem;
  }
}
#home .home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 991px) {
  #home .home-content {
    text-align: center;
    margin-bottom: 2rem;
  }
}
#home .home-subheading {
  color: #21209c;
  line-height: 0;
}
#home .home-desc {
  max-width: 540px;
  padding: 1rem 0rem;
}
@media (max-width: 991px) {
  #home .home-desc {
    margin: auto;
  }
}
#home .home-button {
  background-color: #21209c;
  display: inline-block !important;
  width: 30%;
  position: relative;
  color: #fff;
  border: 2px solid #21209c;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2rem 0rem;
}
@media (max-width: 991px) {
  #home .home-button {
    margin: auto;
    margin: 2rem auto;
    width: 100%;
  }
}
#home .home-button:hover {
  color: #21209c;
}
#home .home-button::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
#home .home-button:hover::before {
  opacity: 1;
  left: 0;
}
#home .home-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-image img {
  width: 100%;
}
@media (max-width: 991px) {
  #home .home-image {
    padding: 2rem 0rem;
  }
  #home .home-image img {
    width: 100%;
  }
}

#about {
  padding-top: 10rem;
  background-color: #f1f1f1;
}

.about-heading {
  text-align: left;
  padding: 0;
}

.service-wrapper {
  text-align: center;
  padding: 20px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 50px 0px rgba(33, 32, 156, 0.08);
  position: relative;
  margin-bottom: 3rem;
}
.service-wrapper:hover .service-icon {
  background-color: #fdb827;
}
.service-wrapper:hover .service-heading {
  color: #fdb827;
}
.service-wrapper:hover .service-button {
  color: #fdb827;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
  background-color: #21209c;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: all 0.5s ease;
}

.service-heading {
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  font-size: calc(1rem + 0.5vw);
}

.service-button {
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 70px 0px rgba(33, 32, 156, 0.18);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(35, 18, 11, 0.5);
  text-transform: lowercase;
  display: block;
  width: 150px;
}

#team {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.team-member-wrapper {
  box-shadow: 0px 2px 50px 0px rgba(33, 32, 156, 0.08);
  padding: 4rem 2rem 0rem 2rem;
  position: relative;
}
.team-member-wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 35%;
  top: 0;
  left: 0;
  background: url("https://images.pexels.com/photos/7077971/pexels-photo-7077971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}
.team-member-wrapper .team-image {
  box-shadow: 0px 2px 50px 0px rgba(33, 32, 156, 0.08);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.team-member-wrapper .team-image:hover .team-overlay {
  left: 0;
  opacity: 1;
}
.team-member-wrapper .team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(35, 18, 11, 0.8);
  left: -100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.team-member-wrapper .team-overlay p {
  color: #fff;
}
.team-member-wrapper .team-overlay ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.team-member-wrapper .team-overlay ul li {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member-wrapper .team-overlay ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(35, 18, 11, 0.9);
  color: #fff;
}
.team-member-wrapper .team-desc {
  text-align: center;
  padding-top: 1rem;
}

#cta {
  background-color: #23120b;
  text-align: center;
  padding: 5rem 0rem;
}
#cta h3 {
  color: #fff;
}
#cta p {
  max-width: 540px;
  margin: auto;
  color: rgba(255, 255, 255, 0.6);
}
#cta .cta-btn {
  display: block;
  background-color: #fff;
  display: inline-block !important;
  padding: 0.3rem 3rem;
  position: relative;
  color: #21209c;
  border: 2px solid #fff;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2rem 0rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  #cta .cta-btn {
    margin: auto;
    margin: 2rem auto;
  }
}
#cta .cta-btn:hover {
  color: #fff;
}
#cta .cta-btn::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #21209c;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
#cta .cta-btn:hover::before {
  opacity: 1;
  left: 0;
}

.card {
  border: 0;
  margin-top: 2rem;
}
.card img {
  border-radius: 0;
}

.card-body {
  padding: 0;
}

.blog-info {
  display: flex;
}
.blog-info span {
  display: block;
  margin-right: 1rem;
}

.blog-link {
  display: block;
  margin-top: 1rem;
  width: 100px;
  color: #21209c;
}
.blog-link:hover {
  color: #fdb827;
}

#contact {
  background-color: #21209c;
  padding: 5rem 0rem;
}

.footer-subscriber {
  background-color: #23120b;
  padding: 8rem 1rem;
  margin-bottom: 5rem;
  border-radius: 2rem;
  box-shadow: 0px 2px 50px 0px rgba(253, 184, 39, 0.08);
  display: flex;
  justify-content: space-around;
}
@media (max-width: 991px) {
  .footer-subscriber {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -20%;
  }
}
.footer-subscriber h6 {
  color: #fff;
  font-size: calc(1.5rem + 0.5vw);
  padding-bottom: 2rem;
}
.footer-subscriber input {
  padding: calc(0.25rem + 0.5vw);
  border: 2px solid transparent;
  border-radius: 2rem;
}
.footer-subscriber input:focus {
  outline: 0;
}
.footer-subscriber .submit-button {
  background-color: #21209c;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
.footer-subscriber .submit-button:hover {
  background-color: #fdb827;
}

.contact-media {
  text-align: center;
  padding: 20px 0px;
}

.contact-media .fab,
.contact-media .fas {
  color: #21209c;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-media p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.b-right {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  .b-right {
    border-right: 0;
  }
}

.f-social-icon h6 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.f-social-icon {
  text-align: center;
}

.f-social-icon .fab {
  color: #21209c;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  transition: 0.5s;
}

.f-social-icon .fab:hover {
  color: #fff;
  background-color: #fdb827;
}

footer {
  color: #f1f1f1;
  text-align: center;
  padding: 20px 0px;
  background-color: #21209c;
  font-weight: 400;
  font-size: 14px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

footer a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

footer a:hover {
  color: #fdb827;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
